

body{
    line-height: 1.5;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin:0;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.flip-main{
    min-height: 100vh;
    background-color: #011649;
    padding: 100px 0;
}
.flip-main .flip-card{
    flex:0 0 calc(33.33% - 30px);
    margin:0 15px 30px;
    perspective: 1000px; /*remove this if you dont want the 3d effect*/
}
.flip-main .flip-card-inner{
    box-shadow: 0 0 10px #29ffff;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
}
.flip-main .flip-card-front img{
    width: 100%;
}
.flip-main .flip-card-front,
.flip-main .flip-card-back{
    backface-visibility: hidden;
}
.flip-main .flip-card-back{
    background-color: #444343;
    position: absolute;
    left:0;
    top:0;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotateY(180deg);
}
.flip-main .flip-card-back h3{
    font-size: 24px;
    color: #ffffff;
    margin:0 0 5px;
}
.flip-main .flip-card-back p{
    font-size: 16px;
    color: #e9e9e9;
    margin:0;
}
.flip-main .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

/*responsive*/
@media(max-width: 991px){
    .flip-main .flip-card {
        flex: 0 0 calc(50% - 30px);
    }
}
@media(max-width: 767px){
    .flip-main .flip-card {
        flex: 0 0 calc(100% - 30px);
    }
}


